/*全局属性*/


a {
	text-decoration: none !important;
	transition: all 0.2s;
}

.active {
	color: #007aff !important;
	font-weight: bold !important;
}

/*遮罩*/
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
}

/*渐变遮罩*/
.gradient-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0rem;
	left: 0rem;
	background: linear-gradient(to right,rgba(0,0,30,1), rgba(255,255,255,0));
}

/*区块样式*/
.section-initialize {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: -0.071428rem;
	padding: 7.142857rem 0rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-body {
	padding-top: 7.142857rem;
}

/*区块标题*/
.section-caption {
	text-align: center;
}

.section-caption h2 {
	border-bottom: 0.142857rem solid #007aff;
	padding: 1.428571rem;
	margin-bottom: -0.857142rem;
	font-weight: bold;
	letter-spacing: 0.142857rem;
	margin-top: 0rem;
	color:#ccc ;
}

.section-caption h3 {
	color: #bbb;
	margin: 0rem;
	padding: 1.071428rem;
	text-transform: uppercase;
}

.caption-line {
	display: inline-block;
	height: 10px;
	width: 100px;
	background: #007aff;
}

.section-caption-black {
	text-align: center;
}

.section-caption-black h2 {
	border-bottom: 0.142857rem solid #007aff;
	padding: 1.428571rem;
	margin-bottom: -0.857142rem;
	font-weight: bold;
	letter-spacing: 0.142857rem;
	margin-top: 0rem;
	color:#333 ;
}

.section-caption-black h3 {
	color: #444;
	margin: 0rem;
	padding: 1.071428rem;
	text-transform: uppercase;
}


.btn {
	background: transparent;
	border: 0.071428rem solid #007aff ;
	transition: all 0.2s;
	border-radius: 0px;
}

.btn:hover, .btn:active, .btn:focus {
	background: #007aff;
	border: 0.071428rem solid #007aff ;
}

.btn a {
	color: #ccc;
}

/*首页导航条*/

.home-navbar {
	margin-bottom: 0rem;
	position: absolute;
}

.home-navbar .container {
	padding-top: 1.428571rem;
	padding-bottom: 1.428571rem;
}

.home-navbar .nav a, .home-navbar .navbar-header .navbar-brand {
	color: #ccc;
}

.home-navbar .navbar-nav > li > a:hover, .home-navbar .navbar-nav > li > a:active, .home-navbar .navbar-nav > li > a:focus {
	color: #007aff;
	background: none;
	font-weight: bold;
}

.mes-dropdown-menu {
	padding: 0.714285rem 1.071428rem;
	border-top: 0.071428rem solid #007aff;
	display: none;
	transition: all 0.5s;
}

.mes-dropdown-menu li a {
	line-height: 3;
	font-size: 0.857142rem;
}

.mes-dropdown-menu li a:hover, .mes-dropdown-menu li a:active, .mes-dropdown-menu li a:focus {
	color: #eee;
}

@media screen and (max-width: 640px) {
	#navbar-collapse {
		text-align: center;
		overflow: hidden;
	}
}

/*导航栏侧栏*/

.mes-navbar-toggle {
	position: absolute;
	right: 1.071428rem;
	top: 2.142857rem;
}

.mes-navbar-toggle li {
	margin-left: 1.428571rem;
}

.mes-navbar-toggle span{
	font-size: 2.5rem;
	color: #bbb;
}

/*轮播图*/

.home-page-banner {
	width: 100%;
	height: 64.285714rem;
}

.swiper-slide {
	background: no-repeat;
    background-size: cover;
}

.home-page-banner .swiper-slide .container {
	display: table;
	height: 64.285714rem;
}

.home-page-banner .swiper-slide .row {
	display: table-cell;
	vertical-align: middle;
}

.home-page-banner .caption {
	padding: 0px;
}

.home-page-banner .caption h3 {
	margin-top: 0px;
	margin-bottom: 1.785714rem;
	font-size: 2.5rem;
	font-weight: bold;
	color: #eee;
	letter-spacing: 0.357142rem;
}

.home-page-banner .caption p {
	font-size: 1.5rem;
	color: #ddd;
	line-height: 2.5;
}

.home-page-banner .caption button {
	margin-top: 1.785714rem;
}


/*MES介绍*/

.home-page-introduce {
	position: relative;
	width: 100%;
	height: auto;
	background: #222;
	margin-top: -0.071428rem;
	padding: 7.142857rem 0rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-page-introduce .introduce-body .col-md-6 {
	padding: 7.142857rem 1.071428rem;
}

.home-page-introduce .introduce-body h3 {
	color: #ccc;
	font-weight: bold;
	margin-bottom: 2.142857rem;
	letter-spacing: 0.142857rem;
}

.home-page-introduce .introduce-body p {
	color: #bbb;
	line-height: 2.5;
	text-align: justify;
}


/*MES特点*/

.home-page-feature {
	background: #222;
}

.home-page-feature .section-body .row .col-md-4 {
	display: table;
	text-align: center;
	padding: 2.142857rem;
}

.home-page-feature .col-md-4 div {
	display: inline-block
}

.home-page-feature .col-md-4 span {
	display: table-cell;
	vertical-align: middle;
	border-radius: 100%;
	border: 0.071428rem solid #ccc;
	height: 6.428571rem;
	width: 6.428571rem;
}

.home-page-feature .col-md-4 i {
	color: #007aff;
	font-size: 3.571428rem;
	transition: all 0.2s; 
}

.home-page-feature .col-md-4 i:hover, .home-page-feature .col-md-4 i:active, .home-page-feature .col-md-4 i:focus {
	font-size: 4.285714rem;
}

.home-page-feature .col-md-4 h4 {
	font-weight: bold;
	color: #ccc;
	margin-top: 2.142857rem;
	margin-bottom: 1.071428rem;
	letter-spacing: 0.142857rem;
	
}

.home-page-feature .col-md-4 p {
	color: #bbb;
	line-height: 2;
}

/*功能模块*/

.home-page-module .section-body .col-md-4 {
	height: 14.285714rem;
	background: #007aff;
	background-clip: content-box;
	padding: 0.357142rem;
	text-align: center;
}

.home-page-module .section-body .col-md-4 > div{
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
}

.module-content {
	display: table-cell;
	vertical-align: middle;
	transition: all 1s;
}

.home-page-module .section-body span {
	color: #fff;
	font-size: 4.285714rem;
}

.home-page-module .section-body p {
	color: #fff;
	font-size: 1.785714rem;
	margin-top: 1.071428rem;
}

.module-overlay {
	position: absolute;
	visibility: hidden;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
}

.module-overlay span {
	line-height: 14.285714rem;
	transition: all 1s;
}


/*功能模块*/

.home-page-framework {
	background: #222;
}

.framework-body-table {
	border-bottom: 0.071428rem solid #007aff;
	text-align: center;
	margin: 3.571428rem 0rem;
}

.framework-body h4{
	color: #ccc;
	font-weight: bold;
	letter-spacing: 0.142857rem;
	margin-bottom: 2.857142rem;
}

.framework-body p{
	color: #bbb;
}

.framework-body .framework-body-icon {
	text-align: center;
}

.framework-body .framework-body-protocol p {
	text-align: center;
	color: #007aff;
}

.framework-body .framework-body-icon span{
	color: #007aff;
	font-size: 3.571428rem;
	margin: 2.142857rem 0rem;
}

/*合作伙伴*/

.home-page-partner .col-md-3{
	padding: 0.714285rem;
	overflow: hidden;
}

.home-page-partner .partner-body-img{
	position: relative;
	height: 10.714285rem;
	border: 2px solid rgba(0,0,0,0.5);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition: all 0.5s;
}

.home-page-partner .partner-body-name{
	position: absolute;
	width: 100%;
	height: 0rem;
	bottom: 0rem;
	transition: all 0.5s;
	background: #007aff;
}

.home-page-partner .partner-body-name p{
	line-height: 3.571428rem;
	text-align: center;
	color: #eee;
}

/*页脚*/

.footer {
	background: #222;
	padding-top: 0.714285rem;
	padding-bottom: 0.714285rem;
}

.footer .col-md-4 {
	margin-top: 2.142857rem;
}

.footer h4 {
	color: #ccc;
	font-size: 1.285714rem;
	font-weight: bold;
	letter-spacing: 0.142857rem;
}

.footer li {
	color: #bbb;
	font-size: 0.714285rem;
	line-height: 2;
}

.footer .copyright {
	padding: 0.714285rem 0rem;
	margin-top: 0.714285rem;
}

.footer .copyright p {
	font-size: 0.571428rem;
	color: #888;
	text-align: center;
}


/*返回顶部*/

.gototop {
	position: fixed;
	display: table;
	border-radius: 3px;
	right: 20px;
	bottom: 20px;
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0.5);
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.gototop a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #ccc;
}

.gototop a i {
	font-size: 20px;
}

.gototop:hover, .gototop:active, .gototop:focus {
	background: rgba(0,0,0,0.8);
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
	color: #fff;
}
